###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Ignore vendor published files during language count.
###############################################################################
/*.js linguist-generated=true